@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}
@media (min-width: 900px) {
  .navbarIcon {
    display: none;
  }
}
ul li a {
  color: #7a7a7a;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
}
